#sliderContainer {
    text-align: center;
    margin-top: 50px;
}


#imageSlider {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 400px;
    object-fit: contain;
    display: none;
}

.slide.active {
    display: block;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}